@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  @apply text-blue-600 hover:text-blue-800;
}

* {
  box-sizing: border-box;
}

/* Hide the horizontal scrollbar */
::-webkit-scrollbar-horizontal {
  display: none;
}

.card {
  @apply mb-4 h-fit  h-[250px] w-[200px]  flex  flex-col shrink-0
  rounded-lg  shadow-lg border-x border-t border-gray-600 items-center bg-black;
}
.primary-button {
  @apply rounded bg-amber-400 py-1 px-3 shadow outline-none hover:bg-amber-400 active:bg-amber-500;
}
.default-button {
  @apply text-black rounded bg-gray-300 py-2 px-4 rounded shadow outline-none hover:bg-gray-400 active:bg-gray-500;
}
.default-link {
  @apply text-black rounded w-fit mb-2 font-semibold
    text-sm px-1  py-1 rounded shadow outline-none 
    hover:bg-gray-200 active:bg-gray-300;
}
* {
  font-family: 'Montserrat', sans-serif;
}
.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}
.input-style {
  @apply bg-gray-50 border border-gray-300 text-gray-900
                rounded-lg focus:bg-blue-100 focus:ring-amber-500 focus:border-amber-500 
                block w-full p-2.5 dark:bg-gray-400 dark:border-gray-600
                 dark:placeholder-gray-400 dark:text-white outline-none
                  dark:focus:ring-amber-500 dark:focus:border-amber-500;
}
